label {
    display: block;    
}

input[type=text]{
    width: 300px;
}

input[type=submit]{
    display: block;
}

.footer {
    position: absolute;
    bottom:0;
    left: 50%;
    margin-left: -100px;
}